.wrapper {
	display: grid;
	grid-gap: 10px;
	font-family: Arial, sans-serif;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
		"header"
		"article"
		"sidebar";
}
.wrapper > * {
	padding: 1em;
	border-radius: 1em;
}
header {
	background-color: blue;
	color: white;
	grid-area: header;
}
article {
	background-color: green;
	color: white;
	grid-area: article;
}
aside {
	background-color: yellow;
	grid-area: sidebar;
}
@media (min-width: 650px) {
	.wrapper {
		grid-template-columns: 0.5fr 0.5fr 1.5fr 1.5fr;
		grid-template-rows: auto;
		grid-template-areas:
			"article sidebar siderbar sidebar"
			"header header header header";
	}
}
@media (min-width: 1000px) {
	.wrapper {
		grid-template-areas:
			"sidebar header header header"
			"sidebar ... article article";
	}
}
